<!DOCTYPE html>
<html ng-app="scotchTodo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/ng-cordova.min"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="public/core.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainController">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>

      <!-- <ion-content ng-controller="ourController">
      <button class="button" ng-click="scanBarcode()">Scan</button>
      </ion-content> -->
     
     <ion-content>
 <div class="form-group">

            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text" id="textboxko">
          </div>

          <!-- createToDo() WILL CREATE NEW TODOS -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>

   </ion-content>


      
    </ion-pane>
 

  </body>
</html>
